.rgb {
    height: 50px;
    width: 50px;
    /* 마지막 값은 투명도 */
    background-color: rgba(25, 99, 71, 0.5)
}

.hsl {
    height: 50px;
    width: 50px;
    /* 마지막 값은 투명도 */
    background-color: hsla(9, 100%, 64%, 0.5)
}

.border {
    height: 30px;
    width: 80vw;
    /* border-style: double;
    border-style: outset;
    border-style: ridge; */
    border-style: solid dotted;
    border-width: medium;
    border-color: red green tomato wheat
}

.leftBorder {
    height: 30px;
    width: 80vw;
    border-left: 6px solid red;
    border-radius: 10px;
    background-color: aqua;
}

.margin {
    /* 모니터의 높이를 기준 */
    height: 20vh;
    /* 모니터의 너비를 기준 */
    width: 60vw;
    background-color: magenta;
    /* 가운데 정렬 */
    margin: auto;
    margin-top: 15px
}

.marginChild {
    height: 10px;
    width: 40vw;
    background-color: bisque;
    /* 부모의 마진 속성 상속 */
    margin: inherit;
}

.padding1 {
    height: 100px;
    width: 200px;
    background-color: blueviolet;
}

.padding2 {
    height: 100px;
    width: 200px;
    padding: 15px;
    /* width = padding + width 의 값을 가지는데 이를 해제 */
    box-sizing: border-box;
    background-color: palegoldenrod;
}

.unorderedList {
    list-style-type: square;
}

.orderedList {
    list-style-type: lower-greek;
}

.table {
    overflow-x: auto;
}

.tableEx td,
.tableEx th {
    border-bottom: 1px solid #ddd
}

.tableEx {
    /* single border  */
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}

.tableEx th {
    text-align: center;
}

.tableEx td {
    height: 40px;
    /* 세로 기준 정렬 */
    vertical-align: bottom;
}


/* 짝수번째의 요소에만 색 넣기(줄무늬) */

.tableEx tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tableEx tr:hover {
    background-color: #f0f0f0;
}

.sticky {
    position: -webkit-sticky;
    /* 사파리 */
    position: sticky;
    top: 0;
    background-color: tomato;
    border: 2px solid red;
}