.rgb {
    height: 50px;
    width: 50px;
    background-color: rgba(25, 99, 71, 0.5)
}

.hsl {
    height: 50px;
    width: 50px;
    background-color: hsla(9, 100%, 64%, 0.5)
}

.border {
    height: 30px;
    width: 80vw;
    /* border-style: double;
    border-style: outset;
    border-style: ridge; */
    border-style: solid dotted;
    border-width: medium;
    border-color: red green tomato wheat
}

.leftBorder {
    height: 30px;
    width: 80vw;
    border-left: 6px solid red;
    border-radius: 10px;
    background-color: aqua;
}

.margin {
    height: 20vh;
    width: 60vw;
    background-color: magenta;
    margin: auto;
    margin-top: 15px
}

.marginChild {
    height: 10px;
    width: 40vw;
    background-color: bisque;
    margin: inherit;
}

.padding1 {
    height: 100px;
    width: 200px;
    background-color: blueviolet;
}

.padding2 {
    height: 100px;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    background-color: palegoldenrod;
}

.unorderedList {
    list-style-type: square;
}

.orderedList {
    list-style-type: lower-greek;
}

.table {
    overflow-x: auto;
}

.tableEx td,
.tableEx th {
    border-bottom: 1px solid #ddd
}

.tableEx {
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}

.tableEx th {
    text-align: center;
}

.tableEx td {
    height: 40px;
    vertical-align: bottom;
}

.tableEx tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tableEx tr:hover {
    background-color: #f0f0f0;
}